# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/

# IDEs
.idea/
.vscode/
*.iml

# Android
android/app/build/
android/build/
android/.gradle/
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore
*.apk
*.ap_k

# iOS
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Runner.xcworkspace
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
DerivedData/

# Linux
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/Runner.xcworkspace
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/

# Windows
windows/flutter/ephemeral/
windows/runner/build/
windows/build/
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/
*.suo
*.user
